<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @review.author %>
</p>

<p>
  <b>Comment:</b>
  <%= @review.comment %>
</p>

<p>
  <b>Date:</b>
  <%= @review.date %>
</p>

<p>
  <b>Rating:</b>
  <%= @review.rating %>
</p>


<%= link_to 'Back', reviews_path %>
